In [1]:
import streamlit as st
import numpy as np
import pandas as pd


st.title('Streamlit 超入門!!!')

st.write('DataFrame')

df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df

2021-03-12 07:01:21.678 WARNING root:
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/motoyukimichiba/Documents/python/ENV-01/env38/lib/python3.8/site-packages/ipykernel_launcher.py [ARGUMENTS]

          lat         lon
0   35.700310  139.702939
1   35.697325  139.719879
2   35.707432  139.711025
3   35.705268  139.705159
4   35.703411  139.717261
..        ...         ...
95  35.697961  139.717066
96  35.709061  139.709965
97  35.692892  139.702022
98  35.694296  139.711852
99  35.692002  139.709409

[100 rows x 2 columns]

In [ ]:
print('ok')